body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.fancy-title {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#flashcard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#flashcardContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flashcard img {
    max-width: 100%;
    height: auto;
}

#flashcardText {
    position: absolute;
    top: 10%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.arrow-button {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}